[submodule "static/fontawesome"]
	path = static/fontawesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "themes/meghna-hugo"]
	path = themes/meghna-hugo
	url = https://github.com/themefisher/meghna-hugo.git
